// Just some grid customizations  -- mostly convenience for me ;)
.room-1 {
    margin-bottom: 1.5em;
}
.room-2 {
    margin-bottom: 2em;
}
.room-3 {
    margin-bottom: 3em;
}
.room-6 {
    margin-bottom: 6em;
}
