// Variables (that I'm using in main styles)
// =========
$fancy_font: 'proxima_novaregular', Palatino,'Palatino Linotype','Palatino LT STD','Book Antiqua',Georgia,serif;
$cloister: 'cloister_blacklight', Palatino,'Palatino Linotype','Palatino LT STD','Book Antiqua',Georgia,serif;
$gill_sans: 'Gill Sans' ,'Gill Sans MT',Calibri,sans-serif;
$gt-1: #8CC647;
$gt-2: #6D6F71;
$gt-3: #228b22;// forest green
$gt-4: #c0e5d4;// more green
$highlight: #FFF5E4 !default;
$shadow: #4C2E5A !default;
