@-webkit-keyframes slide-down {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }

@-moz-keyframes slide-down {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }

@-ms-keyframes slide-down {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }

@-o-keyframes slide-down {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }

@keyframes slide-down {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }

@-ms-keyframes spiral {}.element {
  width: 100px;
  height: 100px;
  background: black;
  -webkit-animation: slide-down 5s 3;
  -moz-animation: slide-down 5s 3;
  -ms-animation: slide-down 5s 3;
  -o-animation: slide-down 5s 3;
  animation: slide-down 5s 3; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: orangered; }

.has-error .form-control {
  border: 2px solid lightpink;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.09); }

html {
  font-size: 10px; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: #fafafa;
  font-size: 1.5rem;
  font-family: Georgia, Times, "Times New Roman", serif; }

a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #005fa9; }

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: black; }
  .navbar-custom .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: white; }
    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
      outline: none; }
  .navbar-custom .navbar-brand {
    font-weight: 700; }
    .navbar-custom .navbar-brand:focus {
      outline: none; }
  .navbar-custom a {
    color: white; }
  .navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out; }
    .navbar-custom .nav li a:hover {
      color: rgba(255, 255, 255, 0.8);
      outline: none;
      background-color: transparent; }
    .navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
      outline: none;
      background-color: transparent; }
  .navbar-custom .nav li.active {
    outline: none; }
    .navbar-custom .nav li.active a {
      background-color: rgba(255, 255, 255, 0.3); }
      .navbar-custom .nav li.active a:hover {
        color: white; }
  @media (min-width: 768px) {
    .navbar-custom {
      padding: 20px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: transparent;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out; }
      .navbar-custom.top-nav-collapse {
        padding: 0;
        background: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }

.intro {
  display: table;
  width: 100%;
  padding: 100px 0;
  text-align: center;
  color: white;
  background-color: #111;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .intro .intro-body .brand-heading {
      font-size: 40px; }
    .intro .intro-body .intro-text {
      font-size: 18px; }
  @media (min-width: 768px) {
    .intro {
      height: 100%;
      padding: 0; }
      .intro .intro-body .brand-heading {
        font-size: 100px; }
      .intro .intro-body .intro-text {
        font-size: 26px; } }

.btn-circle {
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  .btn-circle:hover, .btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.1); }
  .btn-circle i.animated {
    transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s; }
  .btn-circle:hover i.animated {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear; }

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pulse {
  from {
    -moz-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }

.btn {
  text-transform: uppercase;
  font-family: "Anonymous Pro for Powerline", "Menlo", "Monaco", "Courier New", monospace;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0; }

.btn-default {
  border: 1px solid #1097FF;
  color: #1097FF;
  background-color: transparent; }
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #1097FF;
    outline: none;
    color: black;
    background-color: #1097FF; }

ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

.content-container {
  flex: 1 0 auto; }

.table-hover tbody tr:hover {
  background-color: #373737; }

.customers-table tr td {
  font-family: "Anonymous Pro for Powerline", "Menlo", "Monaco", "Courier New", monospace; }

.full-details {
  font-size: 1rem;
  font-family: Arial, sans-serif;
  color: lime; }

.footer {
  height: 2em;
  padding-top: 200px;
  margin: 0; }

.mille {
  font-size: 1rem;
  color: cyan;
  transition: text-shadow in-out 1s; }
  .mille:hover {
    text-shadow: 1px 2px 0 rgba(255, 255, 255, 0.1); }

.alerts.ng-move, .alerts.ng-leave {
  -moz-transition: opacity 500ms cubic-bezier(0.26, 0.225, 0.98, 0.28);
  -o-transition: opacity 500ms cubic-bezier(0.26, 0.225, 0.98, 0.28);
  -webkit-transition: opacity 500ms cubic-bezier(0.26, 0.225, 0.98, 0.28);
  transition: opacity 500ms cubic-bezier(0.26, 0.225, 0.98, 0.28);
  opacity: 1; }

.alerts.ng-leave-active {
  -moz-transition: opacity 500ms cubic-bezier(0.26, 0.225, 0.98, 0.28);
  -o-transition: opacity 500ms cubic-bezier(0.26, 0.225, 0.98, 0.28);
  -webkit-transition: opacity 500ms cubic-bezier(0.26, 0.225, 0.98, 0.28);
  transition: opacity 500ms cubic-bezier(0.26, 0.225, 0.98, 0.28);
  opacity: 0; }

.help-block {
  margin: 0;
  padding: 16px 0 0;
  font-size: 12px;
  font-family: "Anonymous Pro for Powerline", "Menlo", "Monaco", "Courier New", monospace; }

.triangle-thing {
  height: 100px;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.69); }

.wedge {
  height: 40px;
  width: 40px;
  background: url("../images/lk-look-right.png"); }
  .wedge:hover {
    animation: walk-across 6s 2; }

@keyframes walk-down {
  20% {
    background-image: url("../images/left.png"); }
  40% {
    background-image: url("../images/right.png"); }
  60% {
    background-image: url("../images/left2.png"); }
  80% {
    background-image: url("../images/right2.png"); }
  100% {
    background-image: url("../images/fini.png"); } }

@keyframes walk-across {
  10% {
    background-image: url("../images/lk-look-right.png"); }
  20% {
    background-image: url("../images/lk-right.png"); }
  25% {
    background-image: url("../images/lk-look-right.png"); }
  30% {
    background-image: url("../images/lk-left.png"); }
  35% {
    background-image: url("../images/lk-look-right.png"); }
  40% {
    background-image: url("../images/lk-right.png"); }
  45% {
    background-image: url("../images/lk-look-right.png"); }
  50% {
    background-image: url("../images/lk-left.png"); }
  55% {
    background-image: url("../images/lk-look-right.png"); }
  60% {
    background-image: url("../images/lk-right.png"); }
  65% {
    background-image: url("../images/lk-look-right.png"); }
  70% {
    background-image: url("../images/lk-left.png"); }
  90% {
    background-image: url("../images/lk-arms-down.png"); }
  100% {
    background-image: url("../images/lk-look-right.png"); } }
