<p>The Kopicki Difference</p>
<ui-view>
  <!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Open Sans -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400" rel="stylesheet" type="text/css">

<div class="shadowtrooper">



  <div class="wrapper">

    <div class="console">

      <h1>POLYGONS OF THE GALAXY II</h1>

      <button id="shadowtrooper">Shadowtrooper</button>
      <button id="r2d2">R2D2</button>
      <button id="darthmaul">Darth Maul</button>
      <button id="jangofett">Jango Fett</button>
    </div>

    <div class="stage">

      <div class="main-stage full-width">

        <div class="triangle t-1"></div>
        <div class="triangle t-2"></div>
        <div class="triangle t-3"></div>
        <div class="triangle t-4"></div>
        <div class="triangle t-5"></div>

        <div class="triangle t-6"></div>
        <div class="triangle t-7"></div>
        <div class="triangle t-8"></div>
        <div class="triangle t-9"></div>
        <div class="triangle t-10"></div>

        <div class="triangle t-11"></div>
        <div class="triangle t-12"></div>
        <div class="triangle t-13"></div>
        <div class="triangle t-14"></div>
        <div class="triangle t-15"></div>

        <div class="triangle t-16"></div>
        <div class="triangle t-17"></div>
        <div class="triangle t-18"></div>
        <div class="triangle t-19"></div>
        <div class="triangle t-20"></div>

        <div class="triangle t-21"></div>
        <div class="triangle t-22"></div>
        <div class="triangle t-23"></div>
        <div class="triangle t-24"></div>
        <div class="triangle t-25"></div>

        <div class="triangle t-26"></div>
        <div class="triangle t-27"></div>
        <div class="triangle t-28"></div>
        <div class="triangle t-29"></div>
        <div class="triangle t-30"></div>

      </div>

      <div class="stage-quote full-width">
        <h2 class="quote-shadowtrooper">I'll give you a hint: It's not just paint</h2>
        <h2 class="quote-r2d2">*beep*</h2>
        <h2 class="quote-darthmaul">At last, we will have revenge</h2>
        <h2 class="quote-jangofett">I'm just a simple man, trying to make my way in the universe</h2>
      </div>

    </div>

  </div>


</div>
</ui-view>
<div class="spacer"></div>
