<div class="pate" ng-init="starWarsCat='shadowtrooper'" ng-class="starWarsCat">

    <div class="wrapper">

      <div class="console">

        <h1 class="cool-header">Patient Testimonials</h1>

        <button id="shadowtrooper" ng-click="starWarsCat='shadowtrooper'">Shadowtrooper</button>
        <button id="r2d2" ng-click="starWarsCat='r2d2'">R2D2</button>
        <button id="darthmaul" ng-click="starWarsCat='darthmaul'">Darth Maul</button>
        <button id="jangofett" ng-click="starWarsCat='jangofett'">Jango Fett</button>
      </div>

      <div class="stage">

        <div class="main-stage full-width">

          <div class="triangle t-1"></div>
          <div class="triangle t-2"></div>
          <div class="triangle t-3"></div>
          <div class="triangle t-4"></div>
          <div class="triangle t-5"></div>

          <div class="triangle t-6"></div>
          <div class="triangle t-7"></div>
          <div class="triangle t-8"></div>
          <div class="triangle t-9"></div>
          <div class="triangle t-10"></div>

          <div class="triangle t-11"></div>
          <div class="triangle t-12"></div>
          <div class="triangle t-13"></div>
          <div class="triangle t-14"></div>
          <div class="triangle t-15"></div>

          <div class="triangle t-16"></div>
          <div class="triangle t-17"></div>
          <div class="triangle t-18"></div>
          <div class="triangle t-19"></div>
          <div class="triangle t-20"></div>

          <div class="triangle t-21"></div>
          <div class="triangle t-22"></div>
          <div class="triangle t-23"></div>
          <div class="triangle t-24"></div>
          <div class="triangle t-25"></div>

          <div class="triangle t-26"></div>
          <div class="triangle t-27"></div>
          <div class="triangle t-28"></div>
          <div class="triangle t-29"></div>
          <div class="triangle t-30"></div>

        </div>

        <div class="stage-quote full-width">
          <h2 class="quote-shadowtrooper">My teeth are straighter than they've ever been.</h2>
          <h2 class="quote-r2d2">::9PYWP9FGAIEWO347FLGIEUOIQWO;EIGOEUGHGOODBRACES!!!!!P09UAE;OGUHLEGUAE0P8HGU4::</h2>
          <h2 class="quote-darthmaul">At last, we will have revenge.. ON THE BEVERAGE INDUSTRY!</h2>
          <h2 class="quote-jangofett">I have straighter teeth than my father. <br>And yours.</h2>
        </div>

      </div>

  </div>
</div>
