<form name="customerForm" >
  <div class="form-group" ng-class="{'has-error': customerForm.firstName.$invalid && !customerForm.firstName.$pristine }">
    <label for="firstName" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" ng-model="customer.firstName" class="form-control" placeholder="Enter your first name" />
      <span ng-show="customerForm.firstName.$invalid && !customerForm.firstName.$pristine" class="help-block" ng-show="form.customerForm.firstName.$invalid">First name is required.</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': errorLastName}">
    <label for="lastName" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" ng-model="customer.lastName" class="form-control" placeholder="Enter your last name" />
      <span class="help-block" ng-show="errorName">{{ errorLastName }}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': errorEmail}">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="text" ng-model="customer.email" class="form-control" placeholder="Enter a valid email address" />
      <span class="help-block" ng-show="errorName">{{ errorEmail }}</span>
    </div>
  </div>
  <div class="form-group">
    <label for="streetAddress" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <input type="text" ng-model="customer.streetAddress" class="form-control" placeholder="Enter your street address" />
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': errorPhoneNumber}">
    <label for="phoneNumber" class="col-sm-2 control-label">phoneNumber</label>
    <div class="col-sm-10">
      <input type="text" ng-model="customer.phoneNumber" class="form-control" placeholder="Enter your phone number" />
      <span class="help-block" ng-show="errorPhoneNumber">{{ errorPhoneNumber }}</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="btn-group" role="group">
          <a href class="btn btn-danger" value="Cancel" ui-sref="customers">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</form>