<ng-form name="details">
  <div class="form-group" ng-class="{'has-error': details.fn.$error.required && !details.fn.$pristine}">
    <label for="firstName" class="col-sm-2  control-label">First Name</label>
    <div class="col-sm-6">
      <input type="text" name="fn" ng-model="customer.firstName" class="form-control" placeholder="Enter your first name" required/>
      <span ng-show="details.fn.$error.required && !details.fn.$pristine" class="help-block">First name is required.</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': details.ln.$error.required && !details.ln.$pristine}">
    <label for="lastName" class="col-sm-2  control-label">Last Name</label>
    <div class="col-sm-6">
      <input type="text" name="ln" ng-model="customer.lastName" class="form-control" placeholder="Enter your last name" required
      />
      <span ng-show="details.ln.$error.required && !details.ln.$pristine" class="help-block">Last name is required.</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': details.em.$error.required && !details.em.$pristine}">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <input type="email" name="em" ng-model="customer.email" class="form-control" placeholder="Enter a valid email address" required/>
      <span ng-show="details.em.$error.required && !details.em.$pristine" class="help-block" ng-show="errorName">Email is required.</span>
      <span ng-show="details.em.$error.email && !details.em.$pristine" class="help-block" ng-show="errorName">Email is not a valid email address.</span>
    </div>
  </div>
  <div class="form-group">
    <label for="streetAddress" class="col-sm-2 control-label">Street Address</label>
    <div class="col-sm-6">
      <input type="text" ng-model="customer.streetAddress" class="form-control" placeholder="Enter your street address" />
    </div>
  </div>
  <div class="form-group">
    <label for="phoneNumber" class="col-sm-2 control-label">Telephone</label>
    <div class="col-sm-6">
      <input type="text" ng-maxlength="phoneMaxLength" name="pn" ng-pattern="phoneRegex" ng-model="customer.phoneNumber" class="form-control"
        placeholder="Enter your phone number" />
      <span ng-show="!details.pn.$valid && !details.pn.$pristine" class="help-block" ng-show="errorName">Doesn't look like a phone number..</span>
    </div>
  </div>
  <div class="form-group">
    <div class=" col-sm-4 col-sm-offset-4">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <input type="submit" ng-disabled="!details.$valid" class="btn btn-primary" value="Save" />
        </div>
        <div class="btn-group" role="group">
          <a href class="btn btn-danger" value="Cancel" ui-sref="customers">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</ng-form>