<pre ng-show="errors">
{{errorMessage}}
</pre>
</div>
<a ui-sref="createCustomer" class="btn btn-primary btn-lg">Add New Customer</a>
<hr>
<table class="table table-bordered table-hover customers-table">
  <thead>
    <th><h3>All Customers</h3>
    <th><h3>Actions</h3></th>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customers">
      <td>{{customer.firstName + ' ' + customer.lastName}} <br>
        <small>full details:</small> <input type="checkbox" ng-model="customerFull" aria-label="Toggle ngShow">&nbsp;&nbsp;
        <span class="full-details check-element animate-show-hide" ng-show="customerFull">
          {{customer.email}} • {{customer.streetAddress}} • {{customer.phoneNumber}}
        </span>
      <td>
        <a class="btn btn-primary" ui-sref="viewCustomer({id:customer._id})">View</a>
        <a class="btn btn-warning" ui-sref="editCustomer({id:customer._id})">Edit</a>
        <a class="btn btn-danger" ng-click="deleteCustomer(customer)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>