<div id="formMessages" ng-show="formMessages"><p class="mille">{{ formMessages }}</p></div>
<a ui-sref="createCustomer" class="btn btn-primary btn-lg">Add New Customer</a>
<a data-toggle="unholyMessage" data-target="#unholyMessage" class="btn btn-unholy btn-lg" >Delete ALL Customers</a>
<hr>
<table class="table table-bordered table-hover customers-table">
  <tr>
    <td><h3>All Customers</h3></td>
    <td></td>
  </tr>
  <tr ng-repeat="customer in customers">
    <td>{{customer.firstName + ' ' + customer.lastName}} <br>
      full details: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br />
      <span class="check-element animate-show-hide" ng-show="checked">
        {{customer.email}} • {{customer.streetAddress}} • {{customer.phoneNumber}}
      </span>
    <td>
      <a class="btn btn-primary" ui-sref="viewCustomer({id:customer._id})">View</a>
      <a class="btn btn-warning" ui-sref="editCustomer({id:customer._id})">Edit</a>
      <a class="btn btn-danger" ng-click="deleteCustomer(customer)">Delete</a>
    </td>
  </tr>
</table>

<div class="modal fade" id="unholyModal" tabindex="-1" role="dialog" aria-labelledby="unholyModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">I'm afraid..</h4>
      </div>
      <div class="modal-body">
        We cannot fulfill your request at this time.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>