$primary: #42DCA3;
$mono: "Anonymous Pro for Powerline", "Menlo", "Monaco", "Courier New", monospace;

$color-primary-0: #1097FF;
$color-primary-1: #A9DAFF;
$color-primary-2: #79C5FF;
$color-primary-3: #004F8B;
$color-primary-4: #003D6B;

$rgba-primary-0: rgba( 16,151,255,1);
$rgba-primary-1: rgba(169,218,255,1);
$rgba-primary-2: rgba(121,197,255,1);
$rgba-primary-3: rgba(  0, 79,139,1);
$rgba-primary-4: rgba(  0, 61,107,1);
