<h2>FAQ's</h2>
<dl>
    <dt>What is orthodontics?</dt>
    <dd>Orthodontics is a specialty branch of dentistry that treats problems with the alignment of the teeth and jaws. Orthodontists are dental specialists who diagnose, prevent and treat dental and facial irregularities.</dd>
    <dt>What is an orthodontist?</dt>
    <dd>All orthodontists are dentists, however orthodontists receive an additional two to three years of specialized education beyond dental school. During specialty training, they learn the proper way to align and straighten teeth and correct jaw misalignment. Only orthodontist have the proper training and skills to diagnose and comprehensively correct tooth and jaw abnormalities.</dd>
    <dt>What causes orthodontic problems?</dt>
    <dd>Most orthodontic problems are inherited. Examples of these genetic problems include crowding, spacing, protrusion, extra or missing teeth and some jaw growth problems. Other problems are acquired by thumb or finger-sucking, dental disease, accidents and the early or late loss of baby teeth among other causes.</dd>
    <dt>When should my child be seen for an orthodontic consultation?</dt>
    <dd>The AAO (American Association of Orthodontics) recommends that your child get an orthodontic check-up by 7 years of age. By that time, orthodontists can spot subtle problems with jaw growth and emerging teeth while some baby teeth are still present. That’s important because some orthodontic problems may be easier to correct if they’re found early. Most orthodontic patients begin active treatment between ages 9 and 14.</dd>
    <dt>Can adults benefit from orthodontic treatment?</dt>
    <dd>Orthodontic treatment can be successful at almost any age. In fact, about one in every five orthodontic patients today is over age 18. Thanks to today’s smaller, less visible, more comfortable orthodontic appliances, adults are finding treatment more appealing. At Germantown Orthodontics, we have several cosmetic options for adults as well.</dd>
    <dt>Why is orthodontic treatment important?</dt>
    <dd>Crooked and crowded teeth are hard to clean and maintain. Also, teeth that are out of alignment with each other can cause abnormal wear of tooth surfaces, difficulty in chewing and/or speaking and excess stress on supporting bone and gum tissue. Without treatment, many problems become worse and can require additional dental care later in life.</dd>
    <dt>How long will treatment last?</dt>
    <dd>The length of treatment will depend on the difficulty of the tooth alignment and bite being corrected. Typically a patient who is in full braces can expect to stay in treatment from 18-24 months. Some cases are shorter or longer and again it all depends on the difficulty of the treatment. Dr. Kopicki will give you an estimated length of treatment at your consultation appointment so that you have a better idea of how long your specific treatment may take.</dd>
    <p>&nbsp;</p>
</dl>
