<div class="row">
    <div class="col-sm-4">
    <dl>
        <dt>Contact Us: </dt>
        <dd>&nbsp;</dd>
    </dl>
    </div>
    <div class="col-sm-8 room-3 center">
        <img class="centered" src="images/contact-us-screenshot.png" alt="Contact us screenshot" />
    </div>
</div>
<div class="row">
  <div class="col-sm-7 center">
    <h2 style="font-size: 55px" class="lnr lnr-keyboard"></h2>
    <h1 class="proxima">Lorem ipsum dolor sit amet.</h1>
    <div style="border: 3px solid rgba(214, 117, 126, 0.7); font-size: 55px;" class="lnr">
       &#xe823; &#xe825;
    </div>
  </div>
</div>
<div class="spacer"></div>
