<my-alert-display></my-alert-display>
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Welcome!</h1>
          <p class="intro-text">An Express and Angular sample app.</p>
          <a href ui-sref="customers" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>Go
          </a>
        </div>
      </div>
    </div>
  </div>
</header>