<div class="wrapper {{ $state.$current.data.pageActiveClass }}" ng-init="addTestesClass()">
    
    <div class="overlay">
      <div class="subtler-overlay"></div>
    </div>
    
    <div class="home-content">
        <div class="row">
          <div class="col-sm-12">
            <h1  id="thing" class="cool-header">{{ test || "Initial Greeting." }} </h1>
            <p>&nbsp;</p>
            <button class="btn btn-cstm home-content-changer" ng-click="addTestesClass()">Click me to set a random hover class on the random h1 above</button>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-8"><a href="images/GermantownOrthoLOGO_ColorLg.png">logoo</a></div>
      <div class="col-sm-4"><a href="images/spoonfedweb-crop2.png">spoonfedweb</a></div>
    </div>
    <aside style="position: relative;">
        <svg viewBox="0 0 600 300">
            <text text-anchor="middle"
              x="50%"
              y="50%"
              dy=".35em"
              class="text"
              >
                Text
            </text>
        </svg>
    </aside>
    <div class="more-content">
      <div class="row">
        <div class="col-sm-3">
          <i class="icon-home"></i>
          <i class="icon-2x icon-home2"></i>
          <i class="icon-home icon-3x"></i>
          <i class="icon-4x icon-home2"></i>
        </div>
        <div class="col-sm-3">
          <i class="icon-phone"></i>
          <i class="icon-2x icon-headphones"></i>
          <i class="icon-phone icon-3x"></i>
          <i class="icon-4x icon-headphones"></i>
        </div>
      </div>
    </div>

</div>
